*::before, *::after, *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	
	
}
:root{
	font-size: 62.5%;
	--cell-size: 15rem;
	--mark-size: calc(var(var(--cell-size)* .8))
}
.main{
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #fff;
}
.header{
	text-align: center;
	margin: 1.5% auto;8
}
.header h1{
	color: hsl(238, 87%, 67%);
	font-size: 6rem;
	
}

.board{
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-content: center;
	border: 3px solid hsl(238, 87%, 65%);
}
.cell{
	width: var(--cell-size);
	height: var(--cell-size);
	border: 2px solid  hsl(238, 87%, 65%);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
}
.cell:nth-child(1n + 1){
	border-top: none;
}
.cell:nth-child(3n + 1){
	border-left: none;
}
.cell:nth-child(3n + 3){
	border-right: none;
}
.cell:nth-child(1n + 7){
	border-bottom: none;
}
.cell.x, .cell.o{
	cursor: not-allowed;
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::before,
.cell.x::after{
	content: "";
	width: calc(var(--cell-size)* .2);
	height: calc(var(--cell-size) * .9);
	background-color: hsl(238, 87%, 67%);
	position: absolute;
	
}
.board.x .cell:not(.x):not(.o):hover::before,
.cell.x::before{
	transform: rotate(45deg);
}
.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::after{
	transform: rotate(-45deg);
}
.main .board.x .cell:not(.x):not(.o):hover::before,
.main .board.x .cell:not(.x):not(.o):hover::after{
	background-color: hsl(238, 87%, 95%);
	
}


.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::before,
.cell.o::after{
	content: "";
	width: calc(var(--cell-size)* .9);
	height: calc(var(--cell-size) * .9);
	background-color: hsl(238, 87%, 67%);
	position: absolute;
	border-radius: 50%;
}
.board.o .cell:not(.x):not(.o):hover::after,
.board .cell.o::after{
	width: calc(var(--cell-size)* .6);
	height: calc(var(--cell-size)* .6);
	background-color: #fff;
}
.main .board.o .cell:not(.x):not(.o):hover::before{
	background-color: hsl(238, 87%, 95%);
}
.winning-result{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(88, 93, 243, 0.9);
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.winning-result .winner{
	font-size: 10rem;
	color: hsl(238, 87%, 95%);
	font-weight: 700;
}
.winning-result button{
	width: 10%;
	height: 5%;
	font-size: 4rem;
	color:hsl(238, 87%, 67%);
	border-radius: 2rem;
	font-weight: 500;
	cursor: pointer;
}
.winning-result button:hover{
	background-color: hsl(238, 87%, 67%);
	color: #fff;
	border: 4px solid #fff;
	outline: none;
}
.winning-result.show{
	display: flex;
}
